<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
<a href="/category/create">Create new Category</a>
<a href="/category">List Category</a>
<form>
    Search by Category Name:
    <input name="search" type="text">
    <input type="submit" value="Search">
</form>
<h1>List Blogs</h1>
<table border="1">
    <tr>
        <th>Category Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="categori : ${category} ">
        <td th:text="${categori.name}"></td>
        <td><a th:href="@{/category/edit/{id}(id=${categori.getId()})}">Edit</a></td>
        <td><a th:href="@{/category/delete/{id}(id=${categori.getId()})}">Delete</a></td>
        <td><a th:href="@{/category/view/{id}(id=${categori.getId()})}">View</a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/category'(page=${category.number - 1})}" th:if="${category.hasPrevious()}">Previous</a>
    <span th:text="${category.number + 1}"></span>/<span th:text="${category.totalPages}"></span>
    <a th:href="@{'/category'(page=${category.number + 1})}" th:if="${category.hasNext()}">Next</a>
</div>
</body>
</html>